{% extends 'base.html' %}

{% block title %}Fetch - BackEnd{% endblock %}
{% block page_head %}
    <link rel="stylesheet" href="{{ url_for('conditions.static', filename='css/conditions.css') }}"/>
{% endblock %}


{% block bodyTitle %}
     <h1>Conditions</h1>
{% endblock %}

{% block content %}

    <div class="conditions">
    <h3 class="headerCond">תנאי שימוש ומדיניות פרטיות</h3>
    <h3 class="headerCond">ברוך הבא לאתרTrinGether (להלן: "החברה")</h3>
    <h3 class="headerCond"> שימושך באתר הינו בכפוף לתנאי השימוש ומדיניות הפרטיות ולתקנון האתר</h3>
    <h3 class="headerCond">***הכתוב מטה מתייחס באופן שווה לכל מין ומגדר, ומנוסח בלשון זכר מטעמי נוחות בלבד***</h3>
    <h3 class="headerCond">שימושך באתר והסכמה לתנאיו</h3>

    <h4> <br><br>
        מסמך זה מרכז עבורך את תנאי השימוש ואת מדיניות הפרטיות באתר (להלן יחד "המדיניות"). <br>
        על מנת להציג ולהסביר את נוהגי החברה ביחס לפרטיות המשתמשים באתר, וכיצד משתמשת החברה במידע, הנמסר לה על-ידי המשתמשים באתר או הנאסף על-ידה בעת השימוש באתר.<br>
        תשומת ליבך כי כל שימוש באתר זה, או באתרים או שירותים המקושרים או זמינים דרכו, מהווה את הסכמתך לתנאי המדיניות.<br>
        החברה שומרת לעצמה את הזכות לשנות, למחוק ו/או להוסיף על תנאי מתנאי המדיניות בכל עת וללא התחייבות למתן הודעה מוקדמת או בדיעבד,<br>
         לכן מומלץ להתעדכן מעת לעת במדיניות הנהוגה. ככל ואינך מסכים לתנאי המדיניות, כולם או חלקם, אנא הימנע משימוש באתר. <br>
        קישורים שעשויים להיות מוצגים באתר זה, לאתרים חיצוניים או אחרים, מוצגים לנוחיותך בלבד. כל הסתמכות על אתרים אלו או על תוכנם, שימוש בהם או מסירת פרטים דרכם,<br>
         הינה באחריות המשתמש בלבד ובהתאם לתנאי השימוש, תקנון, ומדיניות הפרטיות של אותם אתרים, בנפרד ובאופן בלתי תלוי מתנאי מדיניות אלו.<br>
        יובהר כי, החברה שומרת לעצמה את הזכות להסיר מהאתר בכל עת קישורים המופיעים בו, או להימנע מהוספת קישורים חדשים, הכל לפי שיקול דעתה המוחלט.<br>
    </h4>
    <h4>
        בעת שימוש באתר נאסף מידע על המשתמש. המדובר במידע שהמשתמש מוסר ביודעין, מידע סטטיסטי ומצטבר. <br>
        המשתמש מצהיר ומאשר בזאת כי המידע שמסר ו/או ייאסף אודותיו במסגרת התקשרותו עם החברה יישמר במאגר המידע של החברה ויעשה בנתונים אלו שימוש בהתאם למטרות המאגר.<br>
        מדיניות פרטיות, איסוף מידע ושמירתו החברה מכבדת את פרטיותך ומחויבת לשמור על כללי הגנת הפרטיות המקובלים בישראל. <br>
        שימוש במידע אישי אשר יימסר על-ידך או ייאסף אודותיך ייעשה אך ורק בהתאם למפורט במדיניות פרטיות זו או על-פי חובות החלות כלפי החברה לפי כל דין .<br>
        'מידע אישי' במדיניות פרטיות זו, משמעו כל מידע מזהה אודותייך אשר יימסר או ייאסף אודותייך במסגרת השימוש באתר החברה,<br>
        לצורך רישום לשירותים המוצעים דרך האתר, וכן כל מידע מזהה אודותייך אשר ייאסף אודות אופן השימוש שלך באתר במהלך הפעלתו.<br>
        חלק מהשירותים הניתנים במסגרת השימוש באתר טעונים הרשמה ו/או מסירת מידע אישי באופן ישיר על-ידך, למשל:<br>
        במקרה שבו תרצה להצטרף למועדון החברים של החברה, תתבקש להזין פרטי מזהים ואישיים כגון:<br>
         שמך, כתובת המגורים, דרכי ההתקשרות ואף פרטים נוספים כמופיע בדף הרישום.<br>
        כך גם לצורך עדכון פרטי חבר המועדון. לצורך שירותים אלו תידרש להזין את מס' תעודת הזהות, את מס' הטלפון ואת מס' כרטיס החבר של חבר המועדון.<br>
        החברה רשאית לאסוף וכן לעשות שימוש במידע שנמסר על ידך או ו/או נאסף אודותיך,<br>
         כדוגמת הרגלי הצריכה וההתנהגות שלך, <br>
         לרבות במהלך השימוש באתר ו/או בשירותים המוצעים דרכו (להלן יחד "המידע הנאסף") או במסגרת חברותך מועדון הלקוחות, על מנת לשפר,<br>
          להעשיר או לשנות (לרבות שינוי של האתר המוצג למשתמש) את האתר, את השירותים והתכנים המוצעים באתר כך שיתאמו בצורה מיטבית את העדפותיך.<br>
         כמו כן, החברה עשויה לעשות שימוש במידע למטרות תפעוליות, שיווקיות וסטטיסטיות לשם קידום מטרות מועדון הלקוחות.<br>
        כמו כן, ייתכן שרישום לשירות מסוים דרך האתר, לרבות למועדון הלקוחות של החברה או לרשימות דיוור או לכל עניין אחר, הזמינים או נגישים דרך האתר,<br>
         יידרוש את הסכמתך ואישורך לתנאי אותו שירות, ובמקרה זה תידרש לאשר את הסכמתך בנפרד בעמוד/שירות זה.<br>
        הינך מסכים כי המידע שנמסר על-ידך ו/או ייאסף אודותיך יישמר במאגרי המידע של TrinGether לצורך ניהול וייעול השירות והקשר עמך, לצרכים תפעוליים,<br>
         שיווקיים וסטטיסטיים, לרבות עיבוד המידע ודיוור ישיר לצורך מימוש מטרות אלו וכן עידוד נאמנות ומתן שירותים למשתמשים ולחברי מועדון,<br>
         ולהבטחת פעילות מסחר הוגנת על פי חוק.<br>
    </h4>
    <h4>
        בהתאם להסכמתך, ככל שתתקבל לפי דין, החברה תהא רשאית לפנות אליך מעת לעת בדיוור ישיר לצורך קבלת<br>
         עדכונים, מתכונים, הצעות למוצרים ו/או שירותים, מבצעים וקידומי מכירות, באמצעות דואר אלקטרוני, מסרונים (SMS), <br>
         פקסימיליה, מערכת חיוג אוטומטית ו/או בטלפון, וזאת כל עוד לא נתקבלה הודעה אחרת ממך בכל עת.<br>
         במידה ותרצה לחזור בך מהסכמתך, אנא פנה אל החברה באמצעות כתובת המייל המופיעה מטה בצירוף בקשתך ופרטייך המזהים.<br>
        מובהר כי אינך מחויב למסור את הפרטים המפורטים לעיל על פי דין, ומסירתם תלויה אך ברצונך ובהסכמתך החופשיים, <br>
        על מנת לקבל את שירותי החברה המבוקשים, לא תהיה לך כל טענה ו/או תביעה כלפי החברה ונציגיה בנושא.<br>
         עם זאת, תשומת ליבך כי ללא מסירת פרטים מסוימים (למשל, ללא הזנת פרטים מזהים בעת הצטרפות למועדון הלקוחות) לא נוכל לספק את השירותים המוצעים, חלקם או כולם.<br>
        יש למסור מידע ו/או לעדכן באתר מידע נכון, אמין ומדויק, רק בשמך ועבור עצמך, ולא בשם ו/או עבור צדדים שלישיים, למעט במקרים בהם הורשית לעשות כן, במפורש ובכתב.<br>
         לחברה אין אחריות באשר לנכונות המידע ולאיכות אמינותו ולא תתכן תלונת הצדדים כלפיה.<br>
        האתר משתמש בכלים אוטומטיים לצורך אפיון השימוש שלך באתר ושיפור חווית הגולש,<br>
         באמצעות איסוף נתונים בלתי מזוהים. כלים אלו אוספים מידע כללי אודותיך ואודות השימוש שלך באתר. <br>
    </h4>


</div>
{% endblock %}
