{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}
{% block page_head %}
    <link rel="stylesheet" href="{{ url_for('myProfile.static', filename='css/myProfile.css') }}"/>
    <script defer src="{{ url_for('myProfile.static' ,filename='js/myProfile.js') }}"></script>
{% endblock %}


{% block bodyTitle %}
    <h1>My Details</h1>
    <h2>My Profile</h2>
    {% if session['user'] %}
        <h3 class="userName_Sessin"> {{ session['user'] }} </h3>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="containerMyDetails">
        <h4>First name : {{ user['First_name'] }}</h4>
        <h4>Last Name : {{ user['Last_name'] }}</h4>
        <h4>Email : {{ user['email'] }}</h4>
        <h4>Age : {{ user['First_name'] }}</h4>
        <h4>Academic institution : {{ user['Academic_institution'] }}</h4>
        <h4>Gender : {{ user['Gender'] }}</h4>
        <h4>City : {{ user['City'] }}</h4>
        <div class="containerMyDetailsSmall">
            <h4>About me : {{ user['about_me'] }}</h4>
        </div>
        <br>
        <button id="Edit" onclick="EditFunction()"> Edit</button>
    </div>

    <div id="changeMyDetails" class="Details">
        <div class="containerForm">
            <span onclick="ClickFunctionClose()" class="close" title="Close Details">&times;</span>
            <form action="{{ url_for('myProfile.update_user') }}" method="POST">
                <div class="row">
                    <div class="col-25">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="fname" name="firstname" placeholder="Put your correct first name here">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="lname" name="lastname" placeholder="Put your correct last name here">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="Email">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="text"
                               pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'
                               id="Email" name="Email" placeholder="Put your correct Email here">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="UserName">User Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="Uname" name="UserName"
                               placeholder="Sorry you can't change your user name" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="Gender">Gender</label>
                    </div>
                    <div class="col-75">
                        <select id="Gender" name="Gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="Academic">Academic Institution</label>
                    </div>
                    <div class="col-75">
                        <select id="Academic" name="Academic">
                            <option value="Male">BGU</option>
                            <option value="Female">Ariel</option>
                            <option value="Male">SCE</option>
                            <option value="Female">Bar Ilan</option>
                            <option value="Male">Tel Aviv University</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="City">City</label>
                    </div>
                    <div class="col-75">
                        <select id="City" name="City">
                            <option value="australia">Beer Sheva</option>
                            <option value="canada">Afula</option>
                            <option value="usa">Ashkelon</option>
                            <option value="usa">Tel Aviv</option>
                            <option value="usa">Ashdod</option>
                            <option value="usa">Modi'in</option>
                            <option value="usa">Kiriay Shmona</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="AboutMe">About me</label>
                    </div>
                    <div class="col-75">
                        <textarea id="AboutMe" name="AboutMe" placeholder="Write something about you"
                                  style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <br> <br>
                    <button type="submit" id="FinishEdit"> Finish</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}